<a href="https://colab.research.google.com/github/citybayern/gigehakshp/blob/main/0320%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a=[]
for i  in range(1,4):
  a.append(i)
print(a)

[1, 2, 3]

In [ ]:
b=[]
for i  in range(4,7):
  b.append(i)
print(b)

[4, 5, 6]

In [ ]:
c=[]
for i  in range(3,6):
  c.append(i)
print(c)

[3, 4, 5]

In [ ]:
##힙집합
U1=a+b
U1

[1, 2, 3, 4, 5, 6]

In [ ]:
U2 =a+c
U2
#del U2[3]
#U2

[1, 2, 3, 3, 4, 5]

In [ ]:
I=[]
for i in a:
  if i in c:
    I.append(i)
    a.remove(i)
I

[3]

In [ ]:
for i in a:
  if i in c:
    a.remove(i)
a

[1, 2]

In [ ]:
U=a+c
U

[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[3,4,5]
for i in a:
  if i not in c:
    c.append(i)
c

[3, 4, 5, 1, 2]

In [ ]:
c.sort()

In [ ]:
c

[1, 2, 3, 4, 5]

In [ ]:
num=0
while num<10:
  print(num)
  num+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
num1=1
num2=4
while num1<10:
  print(num1*num2)
  
  num1+=1

4
8
12
16
20
24
28
32
36

In [ ]:
#로그인 될떄 까지 물어보기
while True:
  print("숫자 입력\n")
  num=input()
  if num =="12356789!!!":
    print("로그인되었습니다\n")
    break
  else:
    print("다시 입력해주세요\n")
    continue

숫자 입력

5654
다시 입력해주세요

숫자 입력


다시 입력해주세요

숫자 입력

12ascsdcdscds
다시 입력해주세요

숫자 입력

csdcscsdcsdcds
다시 입력해주세요

숫자 입력

123568789!!!
다시 입력해주세요

숫자 입력

12356789!!!
로그인되었습니다

In [ ]:
import random

In [ ]:
num_range=range(1,46)
num_list = list(num_range)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [ ]:
random.shuffle(num_list)
print(num_list)
len(num_list)

[29, 5, 37, 39, 31, 40, 10, 7, 41, 22, 30, 25, 43, 18, 33, 32, 17, 12, 26, 1, 38, 21, 4, 35, 6, 27, 13, 42, 36, 2, 14, 9, 20, 16, 11, 15, 23, 3, 28, 19, 45, 34, 8, 44, 24]

45

In [ ]:
##로또 번호 6개 추출
lotto=[]
while len(lotto)<6:
    random.shuffle(num_list)
    num_selected = num_list[0]
    lotto.append(num_selected)
print(lotto)

[9, 17, 8, 32, 8, 22]

In [ ]:

#소수찾기
n = int(input("정수를 입력하세요: "))

for num in range(2, n+1):
    prime = True
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break
    if  prime:
        print(num)

정수를 입력하세요: 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
A=[]
while True:
  e=round(random.random(),3)
  A.append(e)
  if len(A)==5:
    break
print(A)

[0.189, 0.045, 0.282, 0.073, 0.646]

In [ ]:
#약수찾기
n = int(input("정수를 입력하세요: "))

for i in range(1, n+1):
    if n % i == 0:
        print(i)

정수를 입력하세요: 50
1
2
5
10
25
50

In [ ]:
#소인수 찾기 
n = int(input("정수를 입력하세요: "))
factor = 2

while n > 1:
    if n % factor == 0:
        print(factor)
        n //= factor
    else:
        factor += 1

정수를 입력하세요: 15
3
5

In [ ]:
#최대공약수 구하기
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

while b != 0:
    a, b = b, a % b

print("두 숫자의 최대공약수는", a, "입니다.")

첫 번째 숫자를 입력하세요: 24
두 번째 숫자를 입력하세요: 50
두 숫자의 최대공약수는 2 입니다.

In [ ]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

def lcm(a, b):
    return (a * b) // gcd(a, b)

a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

print("두 숫자의 최소공배수는", lcm(a, b), "입니다.")

첫 번째 숫자를 입력하세요: 7
두 번째 숫자를 입력하세요: 40
두 숫자의 최소공배수는 280 입니다.